#container {
    
    border: solid black 1px;
    width: 960px;
    margin: auto;

}

.row {
    border: solid black 1px; 
    display:flex;
    justify-content: space-around;
}
    
.column{
    border: solid black 1px;
}
